
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
img{
    width:80px;
}
input{
    width: 150px;
    height: 10px;
    padding: auto;
    margin: auto 20px;
    font-size: 8px;
    border-radius: 20px;
}
.details{
    display: flex;
    margin-left: 10px;
    justify-content: center;
}

